<!doctype html>
<html>
  <head>
    <title>Search Flights</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'scss/style.css' %}" />
  </head>

  <body>
    <div class="container">
      <h2>Search Flight</h2>

      <form method="post">
        {% csrf_token %}
        <label>Source:</label>
        <input type="text" name="source" />

        <label>Destination:</label>
        <input type="text" name="destination" />

        <button type="submit">Search</button>
      </form>

      {% for flight in flights %}
      <p>
        {{ flight.flight_name }} {{ flight.source }} → {{ flight.destination }}
        ₹{{ flight.price }}
        <br />
        <a href="/book/{{ flight.id }}">Book</a>
      </p>
      {% endfor %}
    </div>
  </body>
</html>
